/* src/scss/style.scss */
:root {
  --black: #000;
  --pale-purple: #7D759A;
  --pink: #D392BE;
  --white: #FFF;
  --background: var(--black);
  --color-important: var(--pale-purple);
  --color-highlight: var(--pink);
  --color-text: var(--white);
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--color-text);
  background-image: url(/img/bg/background.img);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body #body {
  margin: auto;
  max-width: auto;
  background-image:
    linear-gradient(
      90deg,
      transparent,
      var(--background) 18%,
      var(--background) 82%,
      transparent);
  background-position: center;
  background-size: 1800px;
  overflow-x: hidden;
}
img {
  display: block;
  width: 100%;
}
img.short {
  max-width: 400px;
}
p img {
  display: inline;
  width: auto;
}
header,
footer {
  height: 200px;
  width: 100%;
}
header img,
footer img {
  width: auto;
  height: 100%;
  margin: auto;
}
main {
  margin: auto;
  max-width: 1100px;
  width: 100%;
  padding: 1.4rem;
}
main h1,
main h2,
main h3 {
  color: var(--color-important);
}
main p strong {
  color: var(--color-hightlight);
}
main .ig {
  text-transform: uppercase;
  color: var(--color-important);
}
main div {
  padding: 0.6rem;
}
main div.line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main div.line div {
  min-width: 30%;
  max-width: 50%;
}
