/* src/scss/style.scss */
:root {
  --black: #000;
  --pale-purple: #7D759A;
  --pink: #D392BE;
  --white: #FFF;
  --artefact-purple: #AE10EA;
  --legendary-gold: #D5B53B;
  --index-blue: #ADEEF8;
  --background: var(--black);
  --color-important: var(--pale-purple);
  --color-highlight: var(--pink);
  --color-text: var(--white);
  --color-artefact: var(--artefact-purple);
  --color-legendary: var(--legendary-gold);
  --color-index: var(--index-blue);
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--color-text);
  background-image: url(img/bg/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body #body {
  margin: auto;
  max-width: auto;
  min-height: 100vh;
  background-image:
    linear-gradient(
      90deg,
      transparent,
      var(--background) 18%,
      var(--background) 82%,
      transparent);
  background-position: center;
  background-size: 1800px;
  overflow-x: hidden;
}
img {
  display: block;
  width: 100%;
}
img.short {
  max-width: 400px;
}
p img {
  display: inline;
  width: auto;
}
header,
footer {
  height: 200px;
  width: 100%;
}
header img,
footer img {
  width: auto;
  height: 100%;
  margin: auto;
}
nav {
  position: fixed;
  top: -1rem;
  left: -1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
}
nav a {
  display: block;
  padding: 0.4rem;
  margin: 0.1rem;
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-weight: bold;
  color: white;
}
nav a:hover {
  color: var(--color-important);
  background-color: rgba(0, 0, 0, 0.5);
}
blockquote {
  padding: 1.6rem;
  border-left: 4px solid lightblue;
  background-color: rgba(255, 255, 255, 0.3);
}
main {
  margin: auto;
  max-width: 1100px;
  width: 100%;
  padding: 1.4rem;
}
main h1,
main h2,
main h3 {
  color: var(--color-important);
}
main p strong {
  color: var(--color-hightlight);
}
main .ig {
  text-transform: uppercase;
  color: var(--color-important);
}
main .artefact {
  text-transform: uppercase;
  color: var(--color-artefact);
}
main .legendary {
  text-transform: uppercase;
  color: var(--color-legendary);
}
main .index {
  font-weight: bold;
  font-size: 1.2em;
  font-family: sans-serif;
  color: var(--color-index);
}
main div {
  padding: 0.6rem;
}
main div.line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main div.line div {
  min-width: 30%;
  max-width: 50%;
}
main img {
  border: 2px solid var(--color-text);
  border-radius: 0.4rem;
  cursor: pointer;
}
main img:hover {
  border: 2px solid var(--color-important);
}
.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}
.overlay > div {
  margin: auto;
  position: relative;
  height: 80%;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay > div > * {
  max-height: 100%;
  width: auto;
}
