$background-image: 'img/bg/background.jpg';

:root {
  --black: #000;
  --pale-purple: #7D759A;
  --pink: #D392BE;
  --white: #FFF;

  --artefact-purple: #AE10EA;
  --legendary-gold: #D5B53B;
  --index-blue: #ADEEF8;

  --background: var(--black);
  --color-important: var(--pale-purple);
  --color-highlight: var(--pink);
  --color-text: var(--white);

  --color-artefact: var(--artefact-purple);
  --color-legendary: var(--legendary-gold);
  --color-index: var(--index-blue);
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--background);
  color: var(--color-text);

  background-image: url($background-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


  #body {
    margin: auto;
    max-width: auto;
    min-height: 100vh;

    background-image: linear-gradient(90deg, transparent, var(--background) 18%, var(--background) 82%, transparent);
    background-position: center;
    background-size: 1800px;

    overflow-x: hidden;
  }
}

img {
  display: block;
  width: 100%;

  &.short {
    max-width: 400px;
  }
}

p {
  img {
    display: inline;
    width: auto;
  }
}

header, footer {
  height: 200px;
  width: 100%;

  img {
    width: auto;
    height: 100%;
    margin: auto;
  }
}

nav {
  position: fixed;
  top: -1rem;
  left: -1rem;

  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);

  background-color: rgba(0, 0, 0, 0.5);

  a {
    display: block;
    padding: 0.4rem;
    margin: 0.1rem;
    background-color: rgba(0, 0, 0, 0.1);

    text-decoration: none;
    font-weight: bold;

    color: white;

    &:hover {
      color: var(--color-important);
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

blockquote {
  padding: 1.6rem;
  border-left: 4px solid lightblue;
  background-color: rgba(255, 255, 255, 0.3);
}
