main {
  margin: auto;

  max-width: 1100px;
  width: 100%;

  padding: 1.4rem;

  h1, h2, h3 {
    color: var(--color-important);
  }

  p {
    strong {
      color: var(--color-hightlight);
    }
  }

  .ig {
    text-transform: uppercase;
    color: var(--color-important);
  }

  .artefact {
    text-transform: uppercase;
    color: var(--color-artefact);
  }

  .legendary {
    text-transform: uppercase;
    color: var(--color-legendary);
  }

  .index {
    font-weight: bold;
    font-size: 1.2em;
    font-family: sans-serif;
    color: var(--color-index);

  }

  div {
    padding: 0.6rem;

    &.line {
      display: flex;
      flex-direction: row;
      align-items: center;

      div {
        min-width: 30%;
        max-width: 50%;
      }
    }
  }
  
  img {
    border: 2px solid var(--color-text);
    border-radius: 0.4rem;

    cursor: pointer;


    &:hover {
      border: 2px solid var(--color-important);
    }
  }


}
