main {
  margin: auto;

  max-width: 1100px;
  width: 100%;

  padding: 1.4rem;

  h1, h2, h3 {
    color: var(--color-important);
  }

  p {
    strong {
      color: var(--color-hightlight);
    }
  }

  .ig {
    text-transform: uppercase;
    color: var(--color-important);
  }

  div {
    padding: 0.6rem;

    &.line {
      display: flex;
      flex-direction: row;
      align-items: center;

      div {
        min-width: 30%;
        max-width: 50%;
      }
    }
  }

}
