.overlay {
  display: block;
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.6);

  > div {
    margin: auto;
    position: relative;

    height: 80%;
    width: 80%;
    top: 50%;

    transform: translateY(-50%);

    display: flex;

    justify-content: center;
    align-items: center;

    > * {
      max-height: 100%;
      width: auto;
    }
  }
}
